<template>
<div id="app">
  <shopping-list></shopping-list>
</div>
</template>

<script>
import shoppingList from './components/shoppingList'
export default {
  name: 'app',
  components: {
    shoppingList
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '../node_modules/materialize-css/dist/css/materialize.min.css';

.container {
  margin: 0 auto;
}

#app {
  font-size: 24px;
}
</style>
