 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
 }
 main {
     flex: 1 0 auto;
 }

.field-container {
    width: 420px !important;
    height: 475px;
    background-color: white;
    border-radius: 20px;;
    overflow: hidden;
    margin: 20px auto 0 auto;
}
h1 {
    text-align: center;
}

#msg {
    font-size: 18px;
    padding: 0;
    margin-bottom: 20px;
    display: block;
}
.field {
    width: 360px;
    height: 360px;
    margin: 30px;
}

.row {
    margin: 0 !important;
}
.box {
    text-align: center;
    width: 118px;
    height: 118px;
    font-size: 120px;
    line-height: 120px;
    font-weight: bold;
    cursor: pointer;
}

.b-bottom {
    border-bottom: 2px solid black;
}
.b-right {
    border-right: 2px solid black;
}

#controls {
    color: white;
    width: 100%;
    height: 100%;
    padding: 15px 0 10px 0;
}

.prompt {
    display: none;
    padding: 0;
    margin: 0 0 20px 0;
}

