<template>
  <div class="container">
  
    <header>
  
      <div class="row">
  
        <h1 class="header teal-text text-lighten-2 col s12"><img src="../assets/logo.png" alt="" class="logo">Shopping List
  
        </h1>
  
      </div>
  
    </header>
  
  
  
    <content>
  
      <section>
  
        <nav class="nav-extended transparent">
  
          <div class="nav-content">
  
            <ul class="left hide-on-med-and-down">
  
              <li><a class="btn" :class="{pressed: shopFilter=='all'}" @click="shopFilter = 'all'">All <span class="teal accent-4 badge white-text">
  
                      {{ shopItems.length }}</span></a></li>
  
              <li><a class="btn" :class="{pressed: shopFilter=='buy'}" @click='shopFilter = "buy"'>Buy <span class="teal accent-4 white-text badge">
  
                      {{ remaining }} </span></a></li>
  
              <li><a class="btn" :class="{pressed: shopFilter=='bought'}" @click="shopFilter = 'bought'">Bought <span
  
                      class="teal accent-4 white-text badge">
  
                      {{ countBought }}</span></a></li>
  
            </ul>
  
          </div>
  
        </nav>
  
      </section>
  
  
  
  
  
      <section>
  
        <form novalidate="true" @submit="addItem">
  
  
  
          <div class="row">
  
            <input class="input-field shop-input validate col s12" @blur="error = ''" :class="[error ? errorClass : 'valid']" v-on:animationend="removeAnimation" type="text" v-model="newItem" placeholder="Type in item to be added">
  
          </div>
  
          <div class="row" v-if="error">
  
            <span class="helper-text error">{{ error }}</span>
  
          </div>
  
        </form>
  
      </section>
  
  
  
  
  
      <section>
  
        <transition-group name="slide" enter-active-class="animated fadeInUp faster" leave-active-class="animated fadeOutDown faster">
  
          <div v-for="(item,index) in filteredItems" :key="index" class="collection shop-item">
  
            <a href="#!" class="collection-item shop-item-label" :class="{done: item.bought}" @click="toggleBought(item)">
  
                {{ item.name }}
  
                <span class="material-icons right close-button" @click="removeItem(index)">delete</span>
  
              </a>
  
          </div>
  
        </transition-group>
  
      </section>
  
  
  
      <div class="divider"></div>
  
      <section class="control-section">
  
        <div class="row">
  
          <button class="btn" @click="checkAllItems">Check all</button>
  
          <button class="btn align-center" @click="removeAllBought" v-if="countBought > 0">Remove bought</button>
  
          <span class="right">{{ remaining }} items left</span>
  
        </div>
  
      </section>
  
    </content>
  
  
  
  </div>
</template>

<script>
  export default {
  
  
  
    data: function() {
  
      return {
  
  
  
        error: '',
  
        errorClass: {
  
          'invalid': true,
  
          'animated': true,
  
          'shake': true,
  
          'faster': true,
  
          'error': true,
  
        },
  
  
  
        shopFilter: 'all',
  
  
  
        newItem: '',
  
  
  
        itemId: 1,
  
  
  
        shopItems: [{
  
  
  
            'id': 1,
  
  
  
            'name': 'Maitoa',
  
  
  
            'bought': false
  
  
  
          },
  
  
  
          {
  
  
  
            'id': 2,
  
  
  
            'name': 'Jauhelihaa',
  
  
  
            'bought': false
  
  
  
          }
  
  
  
        ]
  
  
  
      }
  
  
  
    },
  
    mounted() {
  
      if (localStorage.getItem('shopItems')) {
  
        try {
  
          this.shopItems = JSON.parse(localStorage.getItem('shopItems'));
  
          this.itemId = this.shopItems.slice(-1)[0].id + 1;
  
        } catch (e) {
  
          localStorage.removeItem('shopItems');
  
        }
  
      }
  
  
  
    },
  
  
  
    watch: {
  
      handler: function(shopItems) {
  
        this.saveItems();
  
      }
  
    },
  
  
  
    methods: {
  
  
  
      checkInput(e) {
  
  
  
        if (!this.newItem) {
  
  
  
          this.error = "Item name is required.";
  
          document.querySelector(".shop-input").classList.add('shake');
  
  
  
          return false;
  
  
  
        }
  
  
  
        let validReg = /^[a-z0-9åöä]+$/i;
  
  
  
        if (!validReg.test(this.newItem)) {
  
  
  
          this.error = "Only alphanumeric characters are allowed!"
  
          document.querySelector(".shop-input").classList.add('shake');
  
  
  
          return false;
  
  
  
        }
  
  
  
        this.error = "";
  
  
  
        return true;
  
  
  
      },
  
  
  
      addItem(e) {
  
  
  
        e.preventDefault();
  
  
  
        if (this.checkInput(e)) {
  
  
  
          this.shopItems.push({
  
  
  
            id: this.itemId,
  
  
  
            name: this.newItem,
  
  
  
            bought: false,
  
  
  
          })
  
  
  
          this.newItem = "";
  
          this.itemId++;
  
          this.saveItems();

        }
  
  
  
      },
  
  
  
      removeItem(index) {
  
        this.shopItems.splice(index, 1);
  
        this.saveItems();
  
      },
  
  
      saveItems() {
  
        const parsed = JSON.stringify(this.shopItems);
  
        localStorage.setItem('shopItems', parsed);
  
      },
  
      toggleBought(item) {
  
        item.bought = !item.bought;
  
        this.saveItems();
  
      },
  
      removeAnimation(event) {
  
        let item = event.target;
  
        item.classList.remove("shake");
  
      },
  
      checkAllItems() {
  
        let checked = this.anyRemaining ? false : true;
  
        this.shopItems.forEach((item) => item.bought = checked);
  
      },
  
      removeAllBought() {
  
        this.shopItems = this.shopItems.filter((item) => !item.bought);
  
      },
  
  
  
    },
  
    computed: {
  
      remaining() {
  
        return this.shopItems.filter((item) => !item.bought).length;
  
      },
  
      anyRemaining() {
  
        return this.remaining == 0;
  
      },
  
      filteredItems() {
  
        if (this.shopFilter === 'all') {
  
          return this.shopItems;
  
        } else if (this.shopFilter == 'buy') {
  
          return this.shopItems.filter((item) => !item.bought);
  
        } else {
  
          return this.shopItems.filter((item) => item.bought);
  
        }
  
      },
  
      countBought() {
  
        return this.shopItems.filter((item) => item.bought).length;
  
      },
  
    }
  
  
  
  
  
  }
</script>

<style lang="scss">
  @import "../../node_modules/materialize-css/dist/css/materialize.css";
  
  @import "../../node_modules/materialize-css/sass/components/_color-variables.scss";
  
  @import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
  
  .shop-input {
  
    font-size: 26px !important;
  
    margin-top: 20px !important;
  
  }
  
  
  
  .helper-text,
  
  .error {
  
    margin-bottom: 10px !important;
  
  }
  
  
  
  .shop-item {
  
    margin: 0;
  
    animation-duration: 0.3s;
  
  }
  
  
  
  .close-button {
  
    cursor: pointer;
  
    &:hover {
  
      color: red;
  
    }
  
  }
  
  
  
  .logo {
  
    display: inline-flex;
  
    vertical-align: bottom;
  
    height: 90px;
  
    padding: 0 !important;
  
    margin: 0 !important;
  
  }
  
  
  
  .done {
  
    text-decoration: line-through;
  
    color: lightgray !important;
  
  }
  
  
  
  .error {
  
    color: red;
  
  }
  
  
  
  .helper-text {
  
    margin: 0;
  
  }
  
  
  
  .divider {
  
    margin-top: 30px !important;
  
  }
  
  
  
  .control-section {
  
    margin-top: 20px !important;
  
  }
  
  
  
  .pressed {
  
    background-color: color("teal", "darken-2");
  
  }
  
  
  
  .badge {
  
    border-radius: 15px;
  
  }
</style>
